streamlit==1.31.1
pymongo==4.6.1
python-dotenv==1.0.1
Pillow==10.2.0
numpy>=1.24.0
pandas>=2.0.0
opencv-python-headless>=4.8.0
bcrypt==4.1.2
tensorflow-cpu>=2.16.1
streamlit-feedback==0.1.0
password-strength==0.0.3.post2
bcrypt==4.1.2
tensorflow-cpu>=2.16.1
protobuf==3.20.3  # Important for model loading

